services:

  kafka:
    image: confluentinc/cp-kafka:8.1.0
    container_name: kafka
    hostname: kafka
    restart: no
    environment:
      KAFKA_PROCESS_ROLES: broker,controller        # Define os papéis no modo KRaft
      KAFKA_NODE_ID: 1                              # ID único do nó no cluster KRaft
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093" # Nó responsável pelo quorum KRaft
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092 # Endereço divulgado para clientes - Quando usar sua aplicação local, mude para localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1     # Replicação mínima (dev)
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    ports:
      - "9092:9092"
    volumes:
      - kafka-data:/var/lib/kafka/data
    networks:
      messageBroker:
    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/kafka/9092"]
      interval: 10s
      timeout: 5s
      retries: 10

  # Kafka UI – interface gráfica para visualizar tópicos, mensagens e consumidores.
  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    container_name: kafka-ui
    hostname: kafka-ui
    restart: no
    environment:
      KAFKA_CLUSTERS_0_NAME: "local-kafka"            # Nome do cluster exibido no UI
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka:9092" # Bootstrap para conexão com Kafka
      KAFKA_CLUSTERS_0_ZOOKEEPER: ""                  # Vazio pois usamos KRaft (sem ZK)
      SERVER_PORT: "8080"                             # Porta interna do serviço
    ports:
      - "8092:8080"
    networks:
      messageBroker:
    depends_on:
      - kafka
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://kafka-ui:8080/ || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  # PostgreSQL – banco relacional principal.
  postgres:
    image: postgres:17.4-alpine3.21
    container_name: postgres
    hostname: postgres
    restart: no
    environment:
      POSTGRES_USER: walletcoreuserdb  # Usuário padrão
      POSTGRES_PASSWORD: walletcore123 # Senha padrão
      POSTGRES_MULTIPLE_DATABASES: walletcoredb,balancesdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - pgdata-conf:/etc/postgresql
      - pgdata-logs:/var/log
      - ./config/postgres/create-multiple-postgresql-databases.sh:/docker-entrypoint-initdb.d/init.sh
    networks:
      banco:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d appdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  # pgAdmin4 – interface web de administração do PostgreSQL.
  pgadmin:
    image: dpage/pgadmin4:9.10.0
    container_name: pgadmin
    hostname: pgadmin
    restart: no
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com   # Credencial de login
      PGADMIN_DEFAULT_PASSWORD: admin          # Senha de acesso
    ports:
      - "1580:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - pgadmin-conf:/pgadmin4/config_local.py
      - pgadmin-serverdefinitions:/pgadmin4/servers.json
    networks:
      banco:
    depends_on:
      - postgres

  # Prometheus – responsável pelo scraping de métricas.
  prometheus:
    image: prom/prometheus:v2.53.0
    container_name: prometheus
    hostname: prometheus
    restart: no
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      monitoramento:
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://prometheus:9090/-/ready || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: keycloak
    hostname: keycloak
    restart: no
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./config/keycloak/realm.json:/opt/keycloak/data/import/realm.json:ro
    command: start-dev --import-realm # start em modo dev e importa o realm
    ports:
      - "9091:8080"
    networks:
      security:

  balances-api:
    build:
      context: ./balances-api
      dockerfile: Dockerfile
    container_name: balances-api
    ports:
      - "3003:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_API_PORT: 8080
      DATABASE_IP: postgres
      DATABASE_PORT: 5432
      DATABASE_SCHEMA: balancesdb
      DATABASE_USER: walletcoreuserdb
      DATABASE_PASSWORD: walletcore123
      OAUTH2_URL: http://keycloak:8080/realms/wallet-realm
      KAFKA_URL: kafka
      KAFKA_PORT: 9092
      KAFKA_GROUP_ID_CONFIG: walletcore-group
      JAVA_TOOL_OPTIONS: -Xms512m -Xmx1024m -XX:+UseG1GC
      DOCKER_PORT_APP: 3003
    depends_on:
      - kafka
      - postgres
      - prometheus
      - keycloak
    healthcheck:
      test: ["CMD","/bin/sh","-c","curl -f http://localhost:8080/balances/api/v1/actuator/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
    networks:
      security:
      messageBroker:
      monitoramento:
      banco:

  walletcore-api:
    build:
      context: ./walletcore-api
      dockerfile: Dockerfile
    container_name: walletcore-api
    ports:
      - "3002:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_API_PORT: 8080
      DATABASE_IP: postgres
      DATABASE_PORT: 5432
      DATABASE_SCHEMA: walletcoredb
      DATABASE_USER: walletcoreuserdb
      DATABASE_PASSWORD: walletcore123
      OAUTH2_URL: http://keycloak:8080/realms/wallet-realm
      KAFKA_URL: kafka
      KAFKA_PORT: 9092
      KAFKA_GROUP_ID_CONFIG: walletcore-group
      JAVA_TOOL_OPTIONS: -Xms512m -Xmx1024m -XX:+UseG1GC
      DOCKER_PORT_APP: 3002
    depends_on:
      - kafka
      - postgres
      - prometheus
      - keycloak
    healthcheck:
      test: ["CMD","/bin/sh","-c","curl -f http://localhost:8080/walletcore/api/v1/actuator/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
    networks:
      security:
      messageBroker:
      monitoramento:
      banco:

volumes:
  kafka-data: {}
  pgdata: {}
  pgdata-conf: {}
  pgdata-logs: {}
  pgadmin-data: {}
  pgadmin-conf: {}
  pgadmin-serverdefinitions: {}

networks:
  messageBroker:
  banco:
  monitoramento:
  security:
